Goku/resources/Goku.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.apache.org/axis2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://ws.apache.org/namespaces/axis2/map" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2" xmlns:ax22="http://ws.apache.org/namespaces/axis2/map">
            <xs:import namespace="http://ws.apache.org/namespaces/axis2/map"/>
            <xs:element name="listarPartidos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="equipo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarPartidosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Partidos" nillable="true" type="ax22:map1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarJugadoresEquipo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="equipo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarJugadoresEquipoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="jugadores" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarEquipos">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listarEquiposResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="equipos" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprobarApuesta">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_a" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprobarApuestaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="importeRecuperado" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="apuestaFinalizada">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_apuesta" type="xs:int"/>
                        <xs:element name="cuota_resultante" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="apostarPichichi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="jugador" nillable="true" type="xs:string"/>
                        <xs:element name="importe" type="xs:double"/>
                        <xs:element minOccurs="0" name="tarjeta" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_cad" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="apostarPichichiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_apuesta" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="apostarPartido">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_p" type="xs:int"/>
                        <xs:element name="goles_e1" type="xs:int"/>
                        <xs:element name="goles_e2" type="xs:int"/>
                        <xs:element name="importe" type="xs:double"/>
                        <xs:element minOccurs="0" name="tarjeta" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_cad" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="apostarPartidoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_apuesta" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/namespaces/axis2/map">
            <xs:complexType name="entry1">
                <xs:sequence>
                    <xs:element name="id_partido" type="xs:int"/>
                    <xs:element minOccurs="0" name="Participantes" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="map1">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Partido" nillable="true" type="ax21:entry1"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="listarJugadoresEquipoResponse">
    <wsdl:part name="parameters" element="ns:listarJugadoresEquipoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarEquiposRequest">
    <wsdl:part name="parameters" element="ns:listarEquipos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarApuestaRequest">
    <wsdl:part name="parameters" element="ns:comprobarApuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apostarPartidoResponse">
    <wsdl:part name="parameters" element="ns:apostarPartidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarApuestaResponse">
    <wsdl:part name="parameters" element="ns:comprobarApuestaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apostarPartidoRequest">
    <wsdl:part name="parameters" element="ns:apostarPartido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarEquiposResponse">
    <wsdl:part name="parameters" element="ns:listarEquiposResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apostarPichichiRequest">
    <wsdl:part name="parameters" element="ns:apostarPichichi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apostarPichichiResponse">
    <wsdl:part name="parameters" element="ns:apostarPichichiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarPartidosRequest">
    <wsdl:part name="parameters" element="ns:listarPartidos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apuestaFinalizadaRequest">
    <wsdl:part name="parameters" element="ns:apuestaFinalizada">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarJugadoresEquipoRequest">
    <wsdl:part name="parameters" element="ns:listarJugadoresEquipo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarPartidosResponse">
    <wsdl:part name="parameters" element="ns:listarPartidosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GokuPortType">
    <wsdl:operation name="listarPartidos">
      <wsdl:input message="ns:listarPartidosRequest" wsaw:Action="urn:listarPartidos">
    </wsdl:input>
      <wsdl:output message="ns:listarPartidosResponse" wsaw:Action="urn:listarPartidosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPartido">
      <wsdl:input message="ns:apostarPartidoRequest" wsaw:Action="urn:apostarPartido">
    </wsdl:input>
      <wsdl:output message="ns:apostarPartidoResponse" wsaw:Action="urn:apostarPartidoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apuestaFinalizada">
      <wsdl:input message="ns:apuestaFinalizadaRequest" wsaw:Action="urn:apuestaFinalizada">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="comprobarApuesta">
      <wsdl:input message="ns:comprobarApuestaRequest" wsaw:Action="urn:comprobarApuesta">
    </wsdl:input>
      <wsdl:output message="ns:comprobarApuestaResponse" wsaw:Action="urn:comprobarApuestaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPichichi">
      <wsdl:input message="ns:apostarPichichiRequest" wsaw:Action="urn:apostarPichichi">
    </wsdl:input>
      <wsdl:output message="ns:apostarPichichiResponse" wsaw:Action="urn:apostarPichichiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarJugadoresEquipo">
      <wsdl:input message="ns:listarJugadoresEquipoRequest" wsaw:Action="urn:listarJugadoresEquipo">
    </wsdl:input>
      <wsdl:output message="ns:listarJugadoresEquipoResponse" wsaw:Action="urn:listarJugadoresEquipoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEquipos">
      <wsdl:input message="ns:listarEquiposRequest" wsaw:Action="urn:listarEquipos">
    </wsdl:input>
      <wsdl:output message="ns:listarEquiposResponse" wsaw:Action="urn:listarEquiposResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GokuHttpBinding" type="ns:GokuPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="listarPartidos">
      <http:operation location="listarPartidos"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPartido">
      <http:operation location="apostarPartido"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apuestaFinalizada">
      <http:operation location="apuestaFinalizada"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="comprobarApuesta">
      <http:operation location="comprobarApuesta"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPichichi">
      <http:operation location="apostarPichichi"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarJugadoresEquipo">
      <http:operation location="listarJugadoresEquipo"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEquipos">
      <http:operation location="listarEquipos"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GokuSoap12Binding" type="ns:GokuPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listarPartidos">
      <soap12:operation soapAction="urn:listarPartidos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPartido">
      <soap12:operation soapAction="urn:apostarPartido" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apuestaFinalizada">
      <soap12:operation soapAction="urn:apuestaFinalizada" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="comprobarApuesta">
      <soap12:operation soapAction="urn:comprobarApuesta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPichichi">
      <soap12:operation soapAction="urn:apostarPichichi" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarJugadoresEquipo">
      <soap12:operation soapAction="urn:listarJugadoresEquipo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEquipos">
      <soap12:operation soapAction="urn:listarEquipos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GokuSoap11Binding" type="ns:GokuPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listarPartidos">
      <soap:operation soapAction="urn:listarPartidos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPartido">
      <soap:operation soapAction="urn:apostarPartido" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apuestaFinalizada">
      <soap:operation soapAction="urn:apuestaFinalizada" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="comprobarApuesta">
      <soap:operation soapAction="urn:comprobarApuesta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apostarPichichi">
      <soap:operation soapAction="urn:apostarPichichi" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarJugadoresEquipo">
      <soap:operation soapAction="urn:listarJugadoresEquipo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEquipos">
      <soap:operation soapAction="urn:listarEquipos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Goku">
    <wsdl:port name="GokuHttpEndpoint" binding="ns:GokuHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Goku"/>
    </wsdl:port>
    <wsdl:port name="GokuHttpSoap11Endpoint" binding="ns:GokuSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Goku"/>
    </wsdl:port>
    <wsdl:port name="GokuHttpSoap12Endpoint" binding="ns:GokuSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Goku"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
